.header{
	background-color: #0E213A;
}

#pubswitch{

}

.headerifswitchlabel{
	border-color: #164780;
	background-color: transparent;
	color: #7486A7;
}

.headerifswitchlabel.active{
	background-color: #1A5AA5;
	border-color: #1F4C80;
}

.headerifswitchlabel.active:hover{
	background-color: #1A5AA5;
	border-color: #1F4C80;
}

.headerifswitchlabel:hover{
	background-color: #1F4C80;
	border-color: #1F4C80;
}

.page-sidebar {
background: #133153;
}

ul.page-sidebar-menu > li > a {
	border-top: 1px solid #173761;
	border-bottom: 1px solid #0E213A;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
	background: #1F4774 !important;
}

ul.page-sidebar-menu > li.active > a {
	color: #ffffff;
	background: #0E213A !important;
	border-top: 1px solid #0E213A !important;
	border-bottom: 1px solid #0E213A !important;
}

ul.page-sidebar-menu > li:hover > a, ul.page-sidebar-menu > li.open > a {
	background: #0E213A;
}

ul.page-sidebar-menu > li > ul.sub-menu > li.active > a, ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
color: #ffffff !important;
background: #1F4774 !important;
}

.login{
	background: url("/static/comingsoon/images/bg_login.jpg") no-repeat;
}