<link href="/global/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/style.css" rel="stylesheet" type="text/css"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/global/static/plugins/select2/select2_conquer.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/plugins/data-tables/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/style-conquer.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/themes/default.css" id="style_color" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/custom.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/css/ng-table.min.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" type="image/x-icon" href="/global/static/img/favicon.png">

##<link href="/global/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />