/*
This CSS is really just for this demo page
But take a look at the comments to see how I set padding
and borders on the images
*/

.Example_Details{
    padding:20px;
    color:#272D35;
    font-size:14px;
    background-color: #FFFFFF;
    margin-top:0;
}
h1.instance-header{
    font-size: 14px;
    padding:20px;
    margin-bottom:10px;
    margin-top: 30px;
}

.Image_Wrapper a{
    padding: 0;
    text-decoration: none;
    
}

a.return{
    font-size:12px;
    display:inline-block;
    padding:12px 10px 10px 10px;
    float:right;
    text-transform: uppercase;
    color:#41505A;
}
a.return:hover{
    color:#09F;
}
.footnote{
    color:#999;
    padding:10px;
    font-size:12px;
}
.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;
    font-family: 'Roboto';

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
    font-family: 'Roboto';
}