## -*- coding: utf-8 -*-
<!--
<li class="dropdown" id="header_inbox_bar">									
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="fa fa-envelope"></i>
    <span class="badge badge-info">4</span>
    </a>
    <ul class="dropdown-menu extended inbox">
        <li><p>У вас 4 новых сообщения</p></li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="/global/static/img/avatar2.jpg" alt=""/></span>
                    <span class="subject">
                        <span class="from">Модератор</span>
                        <span class="time">Только что</span>
                    </span>
                    <span class="message">Извините, такое видео не пройдет...</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="external">
            <a href="inbox.html">Смотреть все сообщения <i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
</li>															
-->