## -*- coding: utf-8 -*-
<!--
<li class="dropdown" id="header_notification_bar">						
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="fa fa-warning"></i>
    <span class="badge badge-success">
         6
    </span>
    </a>
    <ul class="dropdown-menu extended notification">
        <li>
            <p>
                 У Вас 6 новых оповещений
            </p>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                <li>
                    <a href="#">
                    	<span class="label label-sm label-icon label-success"><i class="fa fa-plus"></i></span>
                      	5 Ваших видео прошли модерацию.
                    	<span class="time">Только что</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span class="label label-sm label-icon label-danger">
                        <i class="fa fa-ban"></i>
                    </span>
                      1 видео было отклонено модератором.
                    <span class="time">
                         3 часа назад
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <span class="label label-sm label-icon label-warning">
                        <i class="fa fa-exclamation"></i>
                    </span>
                      26 марта сервис будет недоступен.
                    <span class="time">
                         Вчера
                    </span>

                    </a>
                </li>
                <li>
                    <a href="#">
                    <span class="label label-sm label-icon label-info">
                        <i class="fa fa-dollar"></i>
                    </span>
                      Заработок за 24 неделю был выплачен.
                    <span class="time">
                         23 февраля
                    </span>
                    </a>
                </li>
                <li>
            </ul>
        </li>
        <li class="external">
            <a href="#">Смотреть все оповещения <i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
</li>	
-->