.sep-middle{
	color: #DA4F49!important;
}

.navbar-nav > li.sep-middle:before{
		content:' / ';
		/*font-family: 'custom-icons';*/
		display:block;
		font-size: 10px;
		text-align: center;
		padding: 0;
		margin-top: 22px;
		margin-bottom: 22px;
		line-height:44px;
		font-weight: 500;
	}



.sep-last{
	color: #9C9C9C!important;
}

.navbar-nav > li.sep-last:before{
		content:' / ';
		display:block;
		font-size: 10px;
		text-align: center;
		padding: 0;
		margin-top: 22px;
		margin-bottom: 22px;
		line-height:44px;
		font-weight: 500;
	}



.dark{color:#6F6F6F!important;}

.badge-primary{
	font-weight: 400;
	background-color: #4d85a4;
	font-size: 14px;
}

.btn-slider{
	color: white!important;
	margin-left: 15px;
}

.btn-slider:hover{
	color: white!important;
}

.tp-caption.large_bold_white, .tp-caption.largeblackbg{
	font-family: 'Roboto Condensed', sans-serif;
}