<%namespace name="bcrumb" file="/layout/bcrumb.mako" />
<%namespace name="fabutton" file="/layout/fa-button.mako" />
<%inherit file="/layout/main.mako" />

<%!
    import datetime
    from faan.core.model.security.account import Account
%>

<%def name="title()">Профиль</%def>
<%def name="description()"></%def>

${ bcrumb.h(self) }
