## -*- coding: utf-8 -*-
<%namespace name="bcrumb" file="/layout/bcrumb.mako" />
<%inherit file="/layout/main.mako" />

<%
    from faan.core.model.pub.unit import Unit
%>

<%def name="title()">
% if g.unit.id:
Блок ${g.unit.name}
% else:
Создание блока
%endif
</%def>
<%def name="description()">Настройки блока</%def>

${ bcrumb.h(self) }
${ bcrumb.bc([ { 'name' : u'Приложения', 'href' : '/app/', 'icon' : 'rocket' }
             , { 'name' : u"%s" % (g.app.name), 'href' : '/app/%s/unit'% (g.app.id)}
             , { 'name' : u"Блок %s" % (g.unit.name) if g.unit.id else u'Новый блок' }
             ]) }

<%def name="page_css()">
<link href="/global/static/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
<link href="/global/static/plugins/ion.rangeslider/css/ion.rangeSlider.Conquer.css" rel="stylesheet" type="text/css"/>
<style>
    .xform-error {
        padding: 3px;
        font-weight: bold !important;
    }

    .btn-tall {
        height: 60px;
    }

    .btn-wide {
        width: 180px;
    }

    .zone-preview {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
</%def>
<%def name="page_js()">
<script src="/global/static/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
</%def>


<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-sitemap"></i> Добавление блока
                </div>
            </div>
            <div class="portlet-body" style="position: relative;">
                <div class="row">
                    <div class="zone-preview hidden-xs hidden-sm col-md-4">
                    </div>
                    <form id="unit-form" class="form-horizontal col-md-6 col-md-offset-2" method="post" role="form">
                        ${form.csrf_token}
                        %if not g.unit.id:
                        <div class="form-group">
                            <label class="control-label col-md-4">Тип Блока</label>
                            <div class="col-md-8">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-default type ${'active' if form.type.data == Unit.Type.BANNER else ''}" data-type="${Unit.Type.BANNER}">
                                        Баннер
                                    </a>
                                    <a class="btn btn-default type ${'active' if form.type.data == Unit.Type.INTERSTITIAL else ''}" data-type="${Unit.Type.INTERSTITIAL}">
                                        Полноэкранная
                                    </a>
                                </div>
                            </div>
                            ${form.type()}
                        </div>
                        %endif

                        %if g.unit.id:
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>ID блока</b></label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label"> ${g.unit.id}-${g.unit.uuid}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        %endif

                        <div class="form-group ${'has-error' if form.name.errors else ''}">
                            ${form.name.label(class_="col-md-4 control-label")}
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        ${form.name(class_="form-control")}
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="text-danger col-md-12">
                                        ${", ".join(form.name.errors)}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ${'has-error' if form.mod_factor.errors else ''}">
                            ${form.mod_factor.label(class_="col-md-4 control-label")}
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        ${form.mod_factor(class_="form-control input-spinner")}
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="text-danger col-md-12">
                                        ${", ".join(form.mod_factor.errors)}
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="help-block col-md-12">
                                        ${form.mod_factor.description}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ${'has-error' if form.session_limit.errors else ''}">
                            ${form.session_limit.label(class_="col-md-4 control-label")}
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        ${form.session_limit(class_="form-control input-spinner")}
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="col-md-12 text-danger">
                                        ${", ".join(form.session_limit.errors)}
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="help-block col-md-12">
                                        ${form.session_limit.description}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ${'has-error' if form.daily_limit.errors else ''}">
                            ${form.daily_limit.label(class_="col-md-4 control-label")}
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        ${form.daily_limit(class_="form-control input-spinner")}
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="col-md-12 text-danger">
                                        ${", ".join(form.daily_limit.errors)}
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="help-block col-md-12">
                                        ${form.daily_limit.description}
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group ${'has-error' if form.refresh_rate.errors else ''}" data-if-type="${Unit.Type.BANNER}">
                            ${form.refresh_rate.label(class_="col-md-4 control-label")}
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        ${form.refresh_rate(class_="form-control input-spinner")}
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="text-danger">
                                        ${", ".join(form.refresh_rate.errors)}
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="help-block col-md-12">
                                        ${form.refresh_rate.description}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ${'has-error' if form.width.errors or form.height.errors else ''}" data-if-type="${Unit.Type.BANNER}">
                            <label class="col-md-4 control-label">Размер</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-7">
                                        ${form.width()}
                                        ${form.height()}
                                        <select class="form-control" name="size" id="size">
                                            %for size in form.SIZES:
                                                <option value="${size[0].width};${size[0].height}">${size[1]}</option>
                                            %endfor
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="text-danger col-md-12">
                                        ${", ".join(form.width.errors + form.height.errors)}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr/>
                        <button type="submit" data-form="banner" class="btn btn-success btn-tall btn-wide">
                            <i class="fa fa-fw fa-save"></i> Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- END PAGE CONTENT-->
<script type="text/javascript">
    $(document).on('ready', function() {
        var unitSize = '${form.width.data};${form.height.data}';

        var isFloat = function(a) { return a == +a && +a !== (+a | 0) };
        var isInt =   function(a) { return a == +a && +a === (+a | 0) };

        var typeDependedObjs = $("*[data-if-type]");
        var unitType = ${(g.unit.id and g.unit.type) or -1};

        if (unitType != -1 && unitType != ${Unit.Type.BANNER})
            $("*[data-if-type]").hide();

        $('a.type').on('click', function () {
            $('a.type').removeClass('active');
            $(this).addClass('active');
            $('*[data-if-type]').hide();
            $('*[data-if-type="'+$(this).data('type')+'"]').show();
            $('#type').val($(this).data('type'));
            if (+$(this).data('type') == ${Unit.Type.BANNER}) {
                $.uniform.update();
            }
        });
        $('a.type[data-type="' + ${form.type.data} + '"]').trigger('click');

        $('button[type="submit"]').on('click', function() {
            $('#unit-form').submit();
        });

        $('#size').on('change', function () {
            $('#width').val($(this).val().split(';')[0]);
            $('#height').val($(this).val().split(';')[1]);
        });
        $('#size').val(unitSize).select2();

        $('.input-spinner').each(function() {
            var element = $(this), _prevValue;
            var min = +element.attr('min') || 0,
                max = +element.attr('max') || Infinity,
                step = +element.attr('step') || 1,
                forceFloat = +element.attr('decimal') || false;

            var increaseButton = $('<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-fw fa-plus"></i></button></span>')
                    .on('click', function() {
                        var value = +element.val();
                        if (value + step <= max) {
                            if (forceFloat || isFloat(value + step))
                                element.val((value + step).toFixed(2));
                            else
                                element.val(value + step);
                        }
                        return false;
                    }),
                decreaseButton = $('<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-fw fa-minus"></i></button></span>')
                    .on('click', function () {
                        var value = +element.val();
                        if (value - step >= min) {
                            if (forceFloat || isFloat(value - step))
                                element.val((value - step).toFixed(2));
                            else
                                element.val(value - step);
                        }
                        return false;
                    });
            element
                .on('keydown', function () {
                    var value = +element.val();
                    if (!(isNaN(value) || value > max || value < min)) {
                        _prevValue = value;
                    }
                })
                .on('keyup', function() {
                    var value = +element.val();
                    if (isNaN(value) || value > max || value < min) {
                        element.val(_prevValue);
                    }
                });
            if (!element.parent().hasClass('input-group')) {
                element.wrap($('<div class="input-group"></div>'));
            }
            element.after(increaseButton);
            element.before(decreaseButton);
        });
    });
</script>