<script type="text/javascript">
	params  = ${params};
	testing = true;
	
	function webviewDidAppear() {
		console.log(" >>> webviewDidAppear");
		var v = document.getElementById('v');
		
		if (v.paused) {
			console.log(" > webviewDidAppear : trying to play");
			v.play();
		}
	}
	
	function webviewDidClose() {
		console.log(" >>> webviewDidClose");
	}
	
</script>
<script src="mraid.js"></script>
<script type="text/javascript" src="http://api.vidiger.com/static/wrappers/mraid.js"></script>
<script type="text/javascript" src="http://api.vidiger.com/static/wrappers/video.js"></script>
<script type="text/javascript">
	function main() {
		mraid.useCustomClose(true);
		mraid.setOrientationProperties({"allowOrientationChange":false, "forceOrientation":"landscape"});
	}
	
	doReadyCheck();
</script>
