﻿label.field {
	width		: 200px;
	text-align	: right;
	display: inline-block;
} 

table.xtbl {
	border-spacing: 2px;
	border:	0px;
	border-collapse: collapse;
}

table.xtbl thead tr {
	border: 0px;
	border-bottom: 2px solid black;
	background-color: #F0F0F0;
}

table.xtbl tfoot tr {
	border: 0px;
	border-top: 2px solid black;
	background-color: #F0F0F0;
}


table.xtbl tr{
	border: 0px;
	border-bottom: 1px solid #CCCCCC;
}

table.xtbl tr:HOVER{
	background-color: #F0F0F0;
}


div.groupbox_pad {
	height: 15px;
}
div.groupbox {
	position: relative;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	z-index: 1;
	background-color: white;
	box-shadow: 0 0 3px 1px #DDDDDD;
}

div.groupbox div.groupbox_header {
	position: absolute;
	top: -11px;
	left: 0px;
	z-index: 10;
	width: 100%;
}

div.groupbox_header div.groupbox_button {
	display: inline;
	border: 1px solid #333333;
	border-radius: 2px;
	color: white;
	text-shadow: black 0px 0px 2px;
	font: 14px Tahoma;
	box-shadow: 0 0 2px 0 black;
	margin: 0 4px;
	padding: 0 10px 1px;
}

div.groupbox div.groupbox_content {
	margin: 10px 5px 5px 5px;
}


ul.date-shortcut-list {
	margin 		: 0px 3px;
	padding		: 0 0;
	list-style	: none outside none;
	text-align	: left;
}

ul.date-shortcut-list li {
	margin 		: 0px 5px;
	display		: inline-block;
}

th.oasc  a {
	padding-left: 16px;
	background: transparent url(/static/img/sort_up.png) no-repeat; 
}

th.odesc a {
	padding-left: 16px;
	background: transparent url(/static/img/sort_down.png) no-repeat; 
	
}

.managed_overlay {
	position		: absolute;
	top				: 0px;
	left			: 0px;
	right			: 0px;
	bottom			: 0px;
	background		: rgba(0,0,0,0.3) url(/static/img/loading2.gif) center center no-repeat;
}
