.downsdk{
	font-size: 62px;
	color: #4d4d4d;
}

.h2_big{
	font-size: 32px;
}

.pad-bot-10{
	padding-bottom: 10px;
}

.sdk_tab_content{
	height: 120px;
	margin-left: 15px;
}

.sdk_logo{
 	width: 100px;
 	padding: 25px;
 	background-color: #79FC83;
 	height: 100%;
}
.sdk_desc{
	width: auto;
}

