@charset "UTF-8";

html, body {
	background-color: white;
}

html, body, #vlayer, video {
	border	 : none;
	margin	 : 0;
	padding	 : 0;
} 

#vlayer, video, #eclayer {
	width	: 100%;
	height	: 100%;

	background-color: black;
}

#vlayer, #eclayer {
	position: absolute;
	top	 	: 0;
	left	: 0;
}

#eclayer {
	z-index 	    	: 10;	
	background-size 	: contain;	
	background-repeat	: no-repeat;
	background-position	: center;
}

#close {
	position: absolute;
	width	: 36px;
	height	: 34px;
	top 	: 0;
	right	: 0;	
}

#closebox, #timerbox, #circle {
	position: fixed;
	bottom	: 5px;
	display	: block;
}

#closebox {
	right	: 5px;		
}

#timerbox, #circle {
	left	: 5px;
}

#timerbox {
	width	: 28px;
	height	: 28px;
	border 	: 0;
 	text-align: center;
 	vertical-align: middle;
}

#timer, #closetext, #closeintext, #closecounter {
	color		: white;
	font-family	: sans-serif;
	font-size	: 14;
	line-height	: 28px;
	text-shadow	: black 0px 0px 6px;
	font-weight	: bold;
}

#closetext_anchor:after {
	content			: "Пропустить";
}

#closecounter:before {
  	content			: "Пропуск через...";
}

#circle {
	width			: 22px;
	height			: 22px;
	border			: 3px solid #eee;
	border-radius	: 50%;
	
	border-right-color: #111;
	border-left-color: #111;
	
	-webkit-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}


#overlayToggle {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  padding-top: 30px;
  overflow: hidden;
  background: #333 url(http://api.vidiger.com/static/img/overlay.png) no-repeat;
}

#overlaybox {
	position	: fixed;
	top 		: 5px;
	left 		: 5px;
	display		: block;
	width		: 30%;
	height		: 30%;
}

#overlay {
	width		: 100%;
	border 		: 1px solid gray;
	box-shadow	: 0px 0px 5px 5px black; 
}

@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}



#timerbox, #circle,
#overlayToggle, #overlay,
#closetext, #closeintext,
#eclayer {
	display	: none;
}













