<form method="GET" class="form-horizontal" id="stat_filter" ng-submit="table.applyFilter()">
    <!--## Daterange filters-->
    <!--## START-->
    <div class="form-group">
        <label for="defaultrange" class="control-label col-md-2">Период</label>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input ng-model="table.options.date"
                       format="DD.MM.YYYY" locale="{{table.datepickerConfig.locale}}"
                       id="defaultrange" name="date" type="daterange" class="form-control" style="cursor:pointer;">
                <span ng-if="table.control.isActive(['date'])" class="input-group-addon">
                    <label style="margin-bottom: 0; margin-top: 2px;" for="force_hourly">
                        <input ng-model="table.filterData.force_hourly" name="force_hourly" id="force_hourly"
                               type="checkbox" uniform-checkbox/>
                        показывать по часам
                    </label>
                </span>
            </div>
        </div>
    </div>
    <!--## END-->

    <!--## Campaign/Media filters-->
    <!--## START-->
    <div ng-if="table.control.isActive(['date', 'unit', 'country', 'region', 'city', 'source'])"
         class="form-group">
        <label class="control-label col-md-2"></label>

        <div class="col-md-3">
            <select ui-select2 data-placeholder="Площадка"
                    ng-model="table.filterData.application"
                    ng-change="table.applicationSelect.change()"
                    ng-init="table.applicationSelect.init()"
                    name="application" id="application" class="form-control ajax-select2 application">
                <option></option>
                <option ng-repeat="application in table.applicationSelect.items" value={{application.id}}>{{application.name}}</option>
            </select>
        </div>

        <div ng-if="table.control.isActive(['date', 'country', 'region', 'city', 'source'])" class="col-md-3">
            <select ui-select2
                    ng-disabled="!table.filterData.application"
                    ng-model="table.filterData.unit"
                    ng-change="table.unitSelect.change()"
                    ng-init="table.unitSelect.init()"
                    name="unit" id="unit" data-placeholder="Блок" class="form-control ajax-select2 unit">
                <option></option>
                <option ng-repeat="unit in table.unitSelect.items" value={{unit.id}}>{{unit.name}}</option>
            </select>
        </div>

        <div ng-if="table.control.isActive(['date', 'country', 'region', 'city'])" class="col-md-3">
            <select ui-select2
                    ng-disabled="!table.filterData.unit"
                    ng-model="table.filterData.source"
                    ng-init="table.sourceSelect.init()"
                    name="source" id="source" data-placeholder="Источник" class="form-control ajax-select2 source">
                <option></option>
                <option ng-repeat="source in table.sourceSelect.items" value={{source.id}}>{{source.name}}</option>
            </select>
        </div>
    </div>
    <!--## END-->

    <!--## Geo filters-->
    <!--## START-->
    <div ng-if="table.control.isActive(['region', 'city','date', 'unit','application', 'source'])"
         class="form-group">
        <label class="control-label col-md-2"></label>

        <div class="col-md-3">
            <select ui-select2 data-placeholder="Страна"
                    ng-model="table.filterData.country"
                    ng-change="table.countrySelect.change(table.filterData.country)"
                    ng-init="table.countrySelect.init()"
                    name="country" id="country" class="form-control ajax-select2 country">
                <option></option>
                <option ng-repeat="country in table.countrySelect.items" value={{country.id}}>{{country.name}}
                </option>
            </select>
        </div>
        <div ng-if="table.control.isActive(['date', 'unit', 'application', 'source'])" class="col-md-3">
            <select ui-select2 data-placeholder="Регион"
                    ng-disabled="!table.filterData.country"
                    ng-model="table.filterData.region"
                    ng-change="table.regionSelect.change(table.filterData.region)"
                    ng-init="table.regionSelect.init()"
                    name="region" id="region" class="form-control ajax-select2 region">
                <option></option>
                <option ng-repeat="region in table.regionSelect.items" value={{region.id}}>{{region.name}}
                </option>
            </select>
        </div>
        <div ng-if="table.control.isActive(['date', 'unit', 'application', 'source'])" class="col-md-3">
            <select ui-select2 data-placeholder="Город"
                    ng-disabled="!table.filterData.region"
                    ng-model="table.filterData.city"
                    ng-change="table.citySelect.change(table.filterData.city)"
                    ng-init="table.citySelect.init()"
                    name="city" id="city" class="form-control ajax-select2 city">
                <option></option>
                <option ng-repeat="city in table.citySelect.items" value={{city.id}}>{{city.name}}
                </option>
            </select>
        </div>
    </div>
    <!--## END-->

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" id="apply_changes" class="btn btn-success">
                Применить
            </button>
        </div>
    </div>

    <!--<pre>{{table.filterData}}</pre>-->
    <!--<pre>{{table.datepickerDate}}</pre>-->
    <!--<pre>{{table.data}}</pre>-->
</form>