<!DOCTYPE HTML> 
<html lang="en-us">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
<title>Widgets Magazine</title> 
<style type="text/css" media="screen"> 
</style>
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>

<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/132358262/fsdfkd6f8fhsh', [336, 280], 'div-gpt-ad-1402752849189-0').addService(googletag.companionAds()).addService(googletag.pubads());
googletag.defineSlot('/132358262/fsdfkd6f8fhsh', [468, 60], 'div-gpt-ad-1402752849189-1').addService(googletag.companionAds()).addService(googletag.pubads());
googletag.defineSlot('/132358262/fsdfkd6f8fhsh', [728, 90], 'div-gpt-ad-1402752849189-2').addService(googletag.companionAds()).addService(googletag.pubads());
googletag.defineSlot('/132358262/fsdfkd6f8fhsh', [970, 90], 'div-gpt-ad-1402752849189-3').addService(googletag.companionAds()).addService(googletag.pubads());
googletag.defineSlot('/132358262/fsdfkd6f8fhsh', [320, 50], 'div-gpt-ad-1402752849189-4').addService(googletag.companionAds()).addService(googletag.pubads());
googletag.companionAds().setRefreshUnfilledSlots(true);
googletag.pubads().enableVideoAds();
googletag.enableServices();
});
</script>
</head>

<body>
<h1>Test ads</h1>
<!-- fsdfkd6f8fhsh -->
<div id='div-gpt-ad-1402752849189-0' style='width:336px; height:280px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402752849189-0'); });
</script>
</div>

<!-- fsdfkd6f8fhsh -->
<div id='div-gpt-ad-1402752849189-1' style='width:468px; height:60px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402752849189-1'); });
</script>
</div>

<!-- fsdfkd6f8fhsh -->
<div id='div-gpt-ad-1402752849189-2' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402752849189-2'); });
</script>
</div>

<!-- fsdfkd6f8fhsh -->
<div id='div-gpt-ad-1402752849189-3' style='width:970px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402752849189-3'); });
</script>
</div>

<!-- fsdfkd6f8fhsh -->
<div id='div-gpt-ad-1402752849189-4' style='width:320px; height:50px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402752849189-4'); });
</script>
</div>

</body>

</html>