/*profile sales summary*/
.sale-summary > .portlet-body > ul {
    margin-top: -12px;
}

.sale-summary > .portlet-body > ul > li {
    padding: 10px 0;
    overflow: hidden;
    border-top: solid 1px #eee;
}

.sale-summary > .portlet-body > ul > li:first-child {
    border-top: none;
}

.sale-summary > .portlet-body > ul li .sale-info {
    float: left;
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}

.sale-summary > .portlet-body > ul li .sale-num {
    float: right;
    color: #169ef4;
    font-size: 20px;
    font-weight: 300;
}

.sale-summary > .portlet-body > ul li span i {
    top: 1px;
    width: 13px;
    height: 14px;
    margin-left: 3px;
    position: relative;
    display: inline-block;
}

.sale-summary > .portlet-body > ul li i.icon-img-up {
    background: url(../../img/icon-img-up.png) no-repeat !important;
}

.sale-summary > .portlet-body > ul li i.icon-img-down {
    background: url(../../img/icon-img-down.png) no-repeat !important;
}

.sale-summary .caption h4 {
    color: #383839;
    font-size: 18px;
}

.sale-summary .list-group {
    margin-top: 10px;
    margin-bottom: 0;
}

.sale-summary .caption {
    border-color: #c9c9c9;
}

.sale-summary a {
    color: #169ef4;
    /*font-size: 14px;*/
    border-bottom: 1px dashed;
}

.sale-summary a:hover {
    text-decoration: none;
    border-bottom: none;
}

#bal-amount {
    font-weight: 400;
}

#bal-amount i {
    font-size: 18px;
    font-weight: 300;
    position: inherit;
}

.nav-tabs li a {
    text-align: center;
}

.amount {
    padding: 0;
}

.amount input {
    font-size: 16px;
}