.btn-bcrumb {
    border-radius: 0 !important;
    position: relative;
    top: -9px;
    padding: 10px 9px 7px 9px;
    height: 38px;
    border: 0 !important;
}

.date_placeholder {
    text-transform: capitalize;
}

.legend_holder {
    margin-top: 10px;
}

.legend_holder tr {
    float: left;
    margin-right: 5px;
}