<form method="GET" class="form-horizontal" id="stat_filter" ng-submit="table.applyFilter()">
    <!--## Daterange filters-->
    <!--## START-->
    <div class="form-group">
        <label for="defaultrange" class="control-label col-md-2">Период</label>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input ng-model="table.options.date"
                       format="DD.MM.YYYY" locale="{{table.datepickerConfig.locale}}"
                       id="defaultrange" name="date" type="daterange" class="form-control" style="cursor:pointer;">
                <span ng-if="table.control.isActive(['date'])" class="input-group-addon">
                    <label style="margin-bottom: 0; margin-top: 2px;" for="force_hourly">
                        <input ng-model="table.filterData.force_hourly" name="force_hourly" id="force_hourly"
                               type="checkbox" uniform-checkbox/>
                        показывать по часам
                    </label>
                </span>
            </div>
        </div>
    </div>
    <!--## END-->

    <!--## Campaign/Media filters-->
    <!--## START-->
    <div ng-if="table.control.isActive(['date', 'media', 'country', 'region', 'city'])"
         class="form-group">
        <label class="control-label col-md-2"></label>

        <div class="col-md-3">
            <select ui-select2 data-placeholder="Кампания"
                    ng-model="table.filterData.campaign"
                    ng-change="table.campaignSelect.change()"
                    ng-init="table.campaignSelect.init()"
                    name="campaign" id="campaign" class="form-control ajax-select2 campaign">
                <option></option>
                <option ng-repeat="campaign in table.campaignSelect.items" value={{campaign.id}}>{{campaign.name}}</option>
            </select>
        </div>

        <div ng-if="table.control.isActive(['date', 'country', 'region', 'city'])" class="col-md-3">
            <select ui-select2
                    ng-disabled="!table.filterData.campaign"
                    ng-model="table.filterData.media"
                    name="media" id="media" data-placeholder="Креатив" class="form-control ajax-select2 media">
                <option></option>
                <option ng-repeat="media in table.mediaSelect.items" value={{media.id}}>{{media.name}}</option>
            </select>
        </div>
    </div>
    <!--## END-->

    <!--## Geo filters-->
    <!--## START-->
    <div ng-if="table.control.isActive(['region', 'city','date', 'media','campaign'])"
         class="form-group">
        <label class="control-label col-md-2"></label>

        <div class="col-md-3">
            <select ui-select2 data-placeholder="Страна"
                    ng-model="table.filterData.country"
                    ng-change="table.countrySelect.change(table.filterData.country)"
                    ng-init="table.countrySelect.init()"
                    name="country" id="country" class="form-control ajax-select2 country">
                <option></option>
                <option ng-repeat="country in table.countrySelect.items" value={{country.id}}>{{country.name}}
                </option>
            </select>
        </div>
        <div ng-if="table.control.isActive(['date', 'media', 'campaign'])" class="col-md-3">
            <select ui-select2 data-placeholder="Регион"
                    ng-disabled="!table.filterData.country"
                    ng-model="table.filterData.region"
                    ng-change="table.regionSelect.change(table.filterData.region)"
                    ng-init="table.regionSelect.init()"
                    name="region" id="region" class="form-control ajax-select2 region">
                <option></option>
                <option ng-repeat="region in table.regionSelect.items" value={{region.id}}>{{region.name}}
                </option>
            </select>
        </div>
        <div ng-if="table.control.isActive(['date', 'media', 'campaign'])" class="col-md-3">
            <select ui-select2 data-placeholder="Город"
                    ng-disabled="!table.filterData.region"
                    ng-model="table.filterData.city"
                    ng-change="table.citySelect.change(table.filterData.city)"
                    ng-init="table.citySelect.init()"
                    name="city" id="city" class="form-control ajax-select2 city">
                <option></option>
                <option ng-repeat="city in table.citySelect.items" value={{city.id}}>{{city.name}}
                </option>
            </select>
        </div>
    </div>
    <!--## END-->

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" id="apply_changes" class="btn btn-success">
                Применить
            </button>
        </div>
    </div>

    <!--<pre>{{table.filterData}}</pre>-->
    <!--<pre>{{table.datepickerDate}}</pre>-->
    <!--<pre>{{table.data}}</pre>-->
</form>