﻿.fl 	{	float: left;	}
.fr 	{	float: right;	}
.cb 	{	clear: both;	}
.fs14 	{ 	font-size: 14px;}
.fs16 	{ 	font-size: 16px;}
.w200 	{	width: 200px;	}
.wc50p  {	width : 49.99%; }
.wc33p  {	width : 33%;	}
.left_panel {width : 69.99%;}
.right_panel {width : 29.99%;}
.m_5005 {	margin: 15px 5px;}

.c_flag {
	float : left;
	width : 250px;
}

span.field_name {
	width 		: 100px;
	text-align	: right;
	display		: inline-block;
	margin		: 0 10px;
}

span.field_value {
	font-weight : bold;
}


html, body, div#container, div#header, div#panel, div#footer {
	border		: 0 none;
    margin		: 0;
    padding		: 0;
    width		: 100%; 
    font		: 13px/27px Arial,sans-serif;
}

html, body {
    height	: 100%;
    min-width: 800px;
}

div#container {
	text-align	: left;	
	height: auto !important;
}

div#header {
	background-color: #2D2D2D;
	border-bottom: 1px solid #000000;
    font-size: 24px;
    height: 29px;
}

div#header ol#menu {
	display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font: 13px/27px Arial,sans-serif;
    padding-top: 2px;
}

ol#menu li.menu_item {
    display: inline-block;
    line-height: 27px;
    padding: 0;
    position: relative;
    vertical-align: top;
    list-style: none outside none;
    white-space: nowrap;
    position: relative;
}

ol#menu li.menu_item a {
    padding: 0 10px;
    cursor: pointer;
    display: block;
    text-decoration: none !important;
    line-height: 27px;
    list-style: none outside none;
    white-space: nowrap;
    color: #CCCCCC;
    position: relative;
}


ol#menu li.current a {
    padding: 0 10px;
    cursor: pointer;
    display: block;
    text-decoration: none !important;
    line-height: 27px;
    list-style: none outside none;
    white-space: nowrap;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: white 0px 0px 7px;
}



ol#menu li a:hover, ol#menu li a:focus {
    background-color: #4C4C4C;
    background-image: none;
    background-position: 0 -102px;
    background-repeat: repeat-x;
    outline: medium none;
    text-decoration: none !important;
}


div#header div#header_login_form input[type=text], div#header div#header_login_form input[type=password] {
	height: 15px;
    margin-bottom: 5px;
    vertical-align: middle;
}

div#header div#header_login_form input[type=submit] {
	height: 25px;
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
}


div#footer {

}

.light_blue_gradient {
		background-image: linear-gradient(bottom, rgb(71,134,237) 0%, rgb(77,145,254) 100%);
		background-image: -o-linear-gradient(bottom, rgb(71,134,237) 30%, rgb(77,145,254) 69%);
		background-image: -moz-linear-gradient(bottom, rgb(71,134,237) 0%, rgb(77,145,254) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(71,134,237) 30%, rgb(77,145,254) 69%);
		background-image: -ms-linear-gradient(bottom, rgb(71,134,237) 30%, rgb(77,145,254) 69%);		
 		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D90FE, endColorstr=#4787ED);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D90FE, endColorstr=#4787ED)";	
}

a#header_user_panel_trigger {
	margin-top : 0px;
	border-color: #2D2D2D;
	border-style: solid solid solid;
	border-width: 1px 1px 0;
}
	
a.hup_btn_active {
	background: none repeat scroll 0 0 #FFFFFF !important;
	
	border-color: #BEBEBE !important;
	border-style: solid solid solid !important;
	border-width: 1px 1px 0 !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	color: #000000 !important;
	z-index: 1000;
	position: relative;
}

div#header_user_panel {
    left: auto;
    right: -6px;
    top: 27px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: left;
    z-index: 999;
    display : none;
}	

div#header_user_panel div#hup_wrapper {
	padding: 10px 0;
	position: relative;
    z-index: 2;
    display: block;
    list-style: none outside none;
    margin: 0;	    
}

div#hup_inner {
	width: 257px;
}

fieldset {
	border: none;
}

    div#panel {
    	height: 24px;
    	background-color: #F5F5F5;
    	border-bottom: 1px solid #E5E5E5;
    	margin-bottom: 5px;
    }
    
    div#panel ul, div#panel ol {
		display: inline;
	    list-style: none outside none;
	    margin: 0;
	    margin-left: 10px;
	    padding: 0;
	    white-space: nowrap;
	    font: 13px/27px Arial,sans-serif;
	}
 
  	div#panel li {
	    display: inline-block;
	    line-height: 27px;
	    padding: 0 5px;
	    position: relative;
	    vertical-align: top;
	    list-style: none outside none;
	    white-space: nowrap;
	    position: relative;  		
  	}
  	
    div#panel li a {
    	color: black;
    	text-decoration: none;
  	}
  	
    div#panel li.active a {
    	color: black;
    	text-decoration: none;
    	font-weight: bold;
    	text-shadow: #828282 0px 0px 5px;
  	} 
  	
    div#panel li:HOVER a {
    	color: black;
    	text-decoration: none;
    	text-shadow: #828282 0px 0px 5px;
  	}
  	
  	
fieldset div.row {
	float 	: left;
	margin	: 0 20px;
	text-align: right;	
}

fieldset div.row select {
	width: 170px;
}

fieldset div.row label {
	text-align : right;
	width: 50px;
}
  	