/* here you can put your own css to customize and override the theme */
.dropdown-menu{
	font-size: 13px;
}

#head_balance_bar{
	font-size: 16px;
	font-weight: 600;
	color:white!important;
}

#header_addfunds{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 5px !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	outline: none !important;
}

#header_addfunds:hover{
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
	text-decoration: none;
}

.headerifswitch{
        top: 5px;
}

.headerifswitchlabel{
     color: #B3AFAF;
     background-color: transparent;
     border-color: #4E4D4D;
}

.headerifswitchlabel.active{
     color: #FFFFFF;
     background-color: #5C5C5C;
     border-color: #4E4D4D;
    }

.headerifswitchlabel.active:hover{
     color: #E7E7E7;
     background-color: #5C5C5C;
     border-color: #4E4D4D;
}

.headerifswitchlabel:hover{
     color: #E7E7E7;
     background-color: #5C5C5C;
     border-color: #4E4D4D;
}

.fa.fa-mobile-phone.menu{
	font-size: 18px;
}

.fa.fa-desktop.menu{
	font-size: 16px;
}

.usrtype{
	font-size: 12px;
}

.usrtypeicon{
	font-size: 18px;
}

.acctypeicon{
	font-size: 26px;
}


.login{
	background: url("../img/bg.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.copyright{
	color: #CFCFCF!important;
}

.apptypeicon{
	font-size: 32px;
	line-height: 32px;
}

.apptypebutton{
	width: 80px;
}

.ms-selectable{
	width: 250px!important;
}

.ms-selection{
	width: 250px;
}

.ms-container{
	width: 600px;
}

.ms-elem-selectable{
	height: 40px;
}

.appcrtype{
	padding-left: 15px;
}

.fabutton{
	font-size: 14px;
	line-height: 29px;
	border: 1px solid;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
}

.fabutton:hover{
	color: white;
	background-color: #2a6496;
}

.listfaicon{
	font-size:24px;
	line-height: 24px;
	color: rgba(36, 82, 105, 0.18);
}

.fa.text-info{
	color: #245269;
}

.fastatusi{
	font-size: 10px;
	line-height: 10px;
	margin-top: 0;
}

.fastatus{
	padding: .2em .6em .3em;
}
.fa-clock-o.fastatusi{
	font-size: 14px;
	line-height: 14px;
}

.header .navbar-brand{
	padding-top: 10px; 
}

.vmiddle{
	vertical-align: middle!important;
}

.progress{
	display: inline-block; 
	position: absolute;
	width:20px;height:40px;
	background-color: #fff;
}
.progress.spinner {
background-image: url("../img/input-spinner.gif") !important;
background-repeat: no-repeat;
background-position: right 8px;
}

ul.fancytree-container{
	font-family: 'Open Sans', sans-serif!important;

}